/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling for center alignment */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: cronos-pro, Georgia, serif;
    counter-reset: ref;
    counter-reset: ref-note;
  }
body author{
  margin-top: 30px; 
  color: #20649f;
  font-size: 30px;
  font-family: cronos-pro, Georgia, serif;
  font-weight: bold;
}

/* Paragraph styling */
p {
    max-width: 60rem;
    margin: 0 auto 1.5rem;
    line-height: 1.5;
}

p::first-letter {
    color: #41ddcb;
    float: left;
    font-family: Impact, sans-serif;
    font-size: 45px;
    line-height: 60px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 3px;
  }

/* Header styles */
header {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

header h1 {
    font-family: Impact, sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.8); 
}


/* Section styles */
section {
    width: 70%;
    max-width: 900px; 
    margin-top: 30px;  /* margin: 30px; */
    margin-bottom: 10px;
}
section h2 {
    font-family: Impact, sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px; 
    background-image: repeating-linear-gradient(to right,  #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


/* Tooltip styles */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none; /* Don't trigger events on the tooltip itself */
}

/* Additional styling for specific parts of the tooltip, if needed */
.d3-tip strong {
  margin-right: 5px;
  color: rgb(80, 226, 197);
}

.d3-tip span {
  color: #afa5ff;
}

/* Optionally add animations for the tooltip appearance */
.d3-tip {
  opacity: 0;
  transition: opacity 0.3s;
}

.d3-tip:show {
  opacity: 1;
}



.legend-pie{
  font-size: .9rem;
}
         
.legend-pie .strongly-like{
  fill:#222021;
}
.legend-pie .like{
  color:#B7C9E2;
}
.legend-pie .dislike{
  color:#4B2D0B;
}
.legend-pie .strongly-dislike{
  color:#608da2;
}
.legend-pie .unsure{
  color:#90ee90;
}



.d3-tip:show {
  opacity: 1;
}

/* Footer styles */
/* footer {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: auto;   
} */

/* Add more styles below if needed */


.container {
    padding: 50px 0;
}

.container h1 {
    text-align: center;
    font-size: 20px;
    font-family: cronos-pro, Georgia, serif;
}
.container .date h4{
  font-family: cronos-pro, Georgia, serif;
}
.container .content h3{
  font-family: cronos-pro, Georgia, serif;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
    
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: 1px;
}

@media (max-width: 400px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }

}

@media (max-width: 325px) {
    html, body {
        font-size: 14px;
    }
    
    .point {
        min-width: 12px;
        height: 12px;
    }

}

@media (max-width: 225px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}


.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 30%;
  padding: 0 10px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  background-color: rgb(158, 202, 225);
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content h3 {
  font-size: 15px;
  padding: 10px 20px;
  background-color: rgb(107, 174, 214);
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box{
  font-size: 10px;
}
.timeline ul li .content p {
  padding: 10px 20px;
  background-color: rgb(198, 219, 239);
  margin-top: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}
.pieh{
  font-family: cronos-pro, Georgia, serif;
}
.stacked-bar .axis{
  opacity: 1;
  font-size: 15px;
}
.box{
  font-size: 15px;
}
/* Footer styles */
/* footer {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: auto;   
} */

/* Add more styles below if needed */

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.mb-1, .my-1 {
  margin-bottom: 0.25rem!important;
}
.mt-1, .my-1 {
    margin-top: 0.25rem!important;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.col-4 {
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
*, ::after, ::before {
  box-sizing: border-box;
} 

.d-inline{display:inline!important}
.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}
d-md-inline{display:inline!important}
.mr-3,.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}
.d-md-inline{display:inline!important}
.text-center{text-align:center!important}@media (min-width:576px){.text-sm-left{text-align:left!important}
.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}
mb-2,.my-2{margin-bottom:.5rem!important}.ml-2,.mx-2{margin-left:.5rem!important}